body, html {
    margin: 0;
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%;
}

h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

.conteudo{
    color: #777;
    background: white;
    text-align: justify;
    padding: 50px 80px;
}

.caixa1, .caixa2, .caixa3, .caixa4{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixa1 {
    background-image: url(./imgs/imagem1.jpg);
}

.caixa2 {
    background-image: url(./imgs/imagem2.jpg);

}

.caixa3 {
    background-image: url(./imgs/imagem3.jpg);
}

.caixa4 {
    background-image: url(./imgs/imagem4.jpg);
}